# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
conf_test/
.clinerules
.python-version

# Packaging
pip-wheel-metadata/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/
tests/
test_*.py
*_test.py

# Type checkers
.mypy_cache/

# Tox
.tox/

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs
*.log
nornir.log

# Docker
.dockerignore

# Docker build artifacts
*.tar
*.tar.gz


# IDE
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db
